@model HomeCalcViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Операнд 1: @Model.Num1<br />
    Операнд 2: @Model.Num2<br />
    Тип операции: @Model.OperationTypeName<br />

    Результат расчета: @Model.Result
</div>
