@model List<Variant>
@{
    ViewData["Title"] = "Home Page";
}

<a href="/home/calc/" class="btn btn-primary">Новый расчет</a>

<table class="table table-hover">
    <tr>
        <th>Операнд 1</th>
        <th>Операнд 2</th>
        <th>Операция</th>
        <th>Действия</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Num1</td>
            <td>@item.Num2</td>
            <td>@HomeCalcViewModel.OperationTypes[item.OperationType]</td>
            <td>
                <a href="/home/calc/@item.Id">Открыть</a> <a href="/home/delete/@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>


