@model List<Variant>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-hover">
    <tr>
        <th>Операнд 1</th>
        <th>Операнд 2</th>
        <th>Операция</th>
        <th>Действия</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Num1</td>
            <td>@item.Num2</td>
            <td>@item.OperationType</td>
            <td></td>
        </tr>
    }
</table>


